@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.search{
    height:auto;
    padding-top: 10vh;
    background-color: #111111;
    color:white;
}


.line{
    width: 90%;
    margin-left:3%;
    background: linear-gradient(to right, #0BDA51, transparent);
    height: 2px;
    border: none;
}

.Heading{
    padding-left: 3%;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin:0;
}

.Heading span{
    color: #0BDA51;
}

.card{
    padding: 3%;
    border-left: #666666 solid 1px;
}

.image{
    padding: 1.5%;
}
.img{
    width: 100%;
    height: auto;
}

.searchBar{
    height: 60%;
}

.desc{
    padding: 0% 5%;
    height: 40%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    text-align: center;
}

.searchHero{
    height: 100%;
}


.searchcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.searchsearchinput{
    width: 80%;
    color: white !important;
    border-color: #0BDA51 !important;
}

.searchsearchinput label{
    color: #00A877 !important;
    font: 1rem 'Poppins', sans-serif !important;
    font-weight: 600 !important;
}

.searchsearchinput input{
    color: white !important;
    font: 1rem 'Poppins', sans-serif !important;
}
.searchsearchinput fieldset{
    border-color:#00A877 !important;
    border-width: 2px !important;
}

.searchbutton{
    margin-top: 3vh !important;
    background-color: #00A877 !important;
    width: 15% !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
}